*{
  font-size: 18px;
}
body {
  background-color: #95D1CC;
}

h1 {
  color: white;
  text-align: center;
  font-size:.5rem;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.login{
  background-color: #5584AC;
}
.label{
  background-color: #95D1CC;
}
.Headcolor{
    background-color: #5584AC;
  }
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #326A90;
  background-image: url("while loading logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
